<h1>Add a player: </h1>

<html>

<form action="/players" method="post">
<p>Name: <input type="text" name="name"></p>
<p>Team: <input type="text" name="team"></p>
<p>Number: <input type="number" name="number"></p>
<p>Image URL: <input type="text" name="image"></p>
<input type="submit">
</form>
<html>