<h1>Welcome to the soccer players app</h1>


<p>Name: <%= @player.name %> <br/>
Team: <%= @player.team %> <br/>
Number: <%= @player.number %> <br/>
<img id="photo" src=<%= @player.image %>>
</p>

<a href="/players"> <button> back </button></a>

<style>
#photo {
  width: 400px
}
</style>